body {
  padding: 0px;
  margin: 0px;
  font-family: "Monteratregular";
  font-size: 16px;
  font-style: normal;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
ul {
  padding: 0px;
  margin: 0px;
}
ul li {
  list-style: none;
}
@media screen and (max-width: 1270px) {
  .menu-bar .container-fluid .menu-inner .nav-icon {
    display: block;
    padding: 0 10px;
    font-size: 30px;
  }
  .menu-bar .container-fluid .menu-inner nav {
    display: none;
  }
  .menu-bar .container-fluid .menu-inner nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 199;
    background-color: #a6bde6;
    max-width: 230px;
    width: 70vw;
    height: 100vh;
  }
  .menu-bar .container-fluid .menu-inner nav .navbar .nav-items {
    padding: 15px 0;
    display: block;
    border-bottom: 2px solid #8262b5;
  }
  .menu-bar .container-fluid .menu-inner nav .navbar .nav-items a:hover {
    color: #8262b5;
  }
  .banner .row .banner-left .btn-banner01 {
    top: 67%;
    padding: 9px 14.35px;
  }
  .banner .row .banner-right .banner-right-bottom .btn-banner03 {
    padding: 9px 14.35px;
  }
}
@media all and (max-width: 1024px) {
  .header .container-fluid .header-inner .header-right {
    padding-left: 0px;
  }
  .menu-bar .container-fluid .menu-inner .nav-icon {
    order: 1;
    padding: 0px;
  }
  .menu-bar .container-fluid .menu-inner .logo {
    order: 2;
  }
  .menu-bar .container-fluid .menu-inner .logo img {
    padding: 0;
  }
  .menu-bar .container-fluid .menu-inner .icon-right {
    order: 3;
    padding-top: 0px;
  }
  .menu-bar .container-fluid .menu-inner .icon-right .icon-right-pe {
    margin: 0px 10px -5px 10px;
  }
  .banner .row .banner-left .text-banner01 {
    font-size: 20px;
  }
  .banner .row .banner-right .banner-right-top .banner-right-top-content .banner-right-top-content-tittle {
    font-size: 12px;
  }
  .banner .row .banner-right .banner-right-top .banner-right-top-content .banner-right-top-content-sumary {
    font-size: 16px;
  }
  .banner .row .banner-right .banner-right-bottom .banner-right-bottom-content .banner-right-bottom-content-tittle {
    font-size: 12px;
  }
  .banner .row .banner-right .banner-right-bottom .banner-right-bottom-content .banner-right-bottom-content-sumary {
    font-size: 16px;
  }
  .footer .container .row .footer-inner {
    width: 100% !important;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer .container .row .footer-inner .footer-title {
    padding: 30px 0;
  }
  .footer .container .row .footer-inner .icon-footer {
    padding: 50px 0 0 0;
  }
  .footer .container .row .footer-inner .contact-footer {
    padding-left: 0 !important;
  }
  .footer .container .row .footer-inner .footer-title {
    padding-left: 0 !important;
  }
}
@media all and (max-width: 768px) {
  .header .container-fluid .header-inner {
    display: block;
  }
  .header .container-fluid .header-inner .header-left {
    justify-content: space-between;
  }
  .header .container-fluid .header-inner .header-left .header-left-one {
    padding: 0px;
  }
  .header .container-fluid .header-inner .header-left .header-left-two {
    padding: 0px;
  }
  .footer .container .row .footer-inner {
    width: 100% !important;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer .container .row .footer-inner .footer-title {
    padding: 50px 0;
  }
  .footer .container .row .footer-inner .icon-footer {
    padding: 50px 0 0 0;
  }
}
@media all and (max-width: 777px) {
  .blog .container .row .blog-item {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 600px) {
  .menu-bar .container-fluid {
    padding: 0 15px 0 0;
  }
  .menu-bar .container-fluid .menu-inner .logo img {
    padding: 0 15px;
  }
  .menu-bar .container-fluid .menu-inner .nav-icon {
    padding: 0 15px;
  }
  .banner .row .banner-left {
    width: 100%;
    padding-bottom: 15px ;
  }
  .banner .row .banner-left .btn-banner01 {
    left: 50%;
    top: 70%;
  }
  .banner .row .banner-left .text-banner01 {
    left: 35%;
  }
  .banner .row .banner-right {
    padding-top: 15px ;
    width: 100%;
  }
  .products .container .row .product-item {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer .container .bottom-footer {
    padding-top: 20px;
  }
  .footer .container .bottom-footer .copyright {
    width: 100%;
    text-align: center;
  }
  .footer .container .bottom-footer .icon-card {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-right: 2px;
  }
}
@media all and (max-width: 414px) {
  .menu-bar .container-fluid {
    padding: 0 15px 0 0;
  }
  .menu-bar .container-fluid .menu-inner .logo {
    order: 2;
  }
  .menu-bar .container-fluid .menu-inner .logo img {
    padding: 0px;
  }
  .menu-bar .container-fluid .menu-inner .icon-right {
    order: 3;
  }
}
.header {
  background-color: #222222;
  color: #3d3d3d;
  font-family: "OpenSans";
  font-size: 14px;
  font-style: normal;
}
.header .header-inner {
  display: flex;
  padding: 13px 0;
  align-items: center;
  justify-content: space-between;
}
.header .header-inner .header-right {
  font-family: 'OpenSans';
  font-size: 14px;
  padding-left: 15px;
  display: flex;
}
.header .header-inner .header-left {
  display: flex;
}
.header .header-inner .header-left .header-left-one {
  padding: 0 15px;
  display: flex;
}
.header .header-inner .header-left .header-left-two {
  padding: 0 15px;
  display: flex;
}
.icon-header {
  margin-right: 5px ;
}
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansboil';
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'Monterat';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Monteratregular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url(../fonts/Pacifico-Regular.ttf);
  font-weight: 400;
}
.cover {
  position: fixed;
  background-color: #222;
  opacity: 0;
  width: 100vh;
  z-index: -1;
  height: 100vh;
}
.cover.active {
  z-index: 150;
  opacity: 0.9;
}
.menu-bar {
  padding: 19.5px 0;
}
.menu-bar .menu-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu-bar .menu-inner .nav-icon {
  display: none;
}
.menu-bar .menu-inner .logo {
  align-items: center;
}
.menu-bar .menu-inner .logo img {
  padding: 0 0 0 15px;
  display: block;
  width: 100%;
}
.menu-bar .menu-inner .logo .text-menu {
  display: none;
}
.menu-bar .menu-inner nav .navbar {
  width: 1016px;
  align-items: center;
  font-family: "Monterat";
  font-size: 14px;
}
.menu-bar .menu-inner nav .navbar .nav-items {
  display: inline-block;
  margin-left: 40px;
  margin-right: 11px;
}
.menu-bar .menu-inner nav .navbar .nav-items a:hover {
  color: #8262b5;
}
.menu-bar .menu-inner nav .navbar .nav-items a {
  text-transform: uppercase;
  color: #333333;
}
.menu-bar .menu-inner .icon-right {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.menu-bar .menu-inner .icon-right .icon-right-pe {
  margin: 0px 14px -5px 14px;
}
.banner {
  padding: 30px 0 75px 0;
}
.banner .banner-left {
  position: relative;
  width: 66.6666%;
  padding: 0 15px;
  box-sizing: border-box;
}
.banner .banner-left img {
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
}
.banner .banner-left .btn-banner01 {
  left: 72.5555%;
  top: 66%;
  position: absolute;
  z-index: 50;
  font-family: 'Monteratregular';
  font-weight: 400;
  background-color: #8262b5;
  border: none;
  color: white;
  padding: 11.6px 16.35px;
  text-align: center;
  font-size: 14px;
}
.banner .banner-left .text-banner01 {
  left: 45.3333333%;
  top: 55.8%;
  position: absolute;
  font-family: 'Pacifico';
  font-size: 30px;
}
.banner .banner-right {
  width: 33.3334%;
  padding: 0 15px;
  box-sizing: border-box;
}
.banner .banner-right .banner-right-top {
  position: relative;
  padding-bottom: 15px;
}
.banner .banner-right .banner-right-top img {
  display: block;
  height: 100%;
  width: 100%;
}
.banner .banner-right .banner-right-top .banner-right-top-content {
  text-transform: uppercase;
  position: absolute;
  left: 15.4778%;
  top: 40%;
}
.banner .banner-right .banner-right-top .banner-right-top-content .banner-right-top-content-tittle {
  font-family: 'Monteratregular';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.5px;
}
.banner .banner-right .banner-right-top .banner-right-top-content .banner-right-top-content-sumary {
  font-family: "Monterat";
  font-size: 20px;
}
.banner .banner-right .banner-right-bottom {
  position: relative;
  padding-top: 15px;
}
.banner .banner-right .banner-right-bottom img {
  display: block;
  height: 100%;
  width: 100%;
}
.banner .banner-right .banner-right-bottom .banner-right-bottom-content {
  text-transform: uppercase;
  position: absolute;
  left: 10.8%;
  top: 39.5%;
}
.banner .banner-right .banner-right-bottom .banner-right-bottom-content .banner-right-bottom-content-tittle {
  font-family: 'Monteratregular';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
}
.banner .banner-right .banner-right-bottom .banner-right-bottom-content .banner-right-bottom-content-sumary {
  font-family: "Monterat";
  font-size: 20px;
}
.banner .banner-right .banner-right-bottom .btn-banner03 {
  position: absolute;
  top: 56.5454%;
  left: 11.8%;
  font-family: 'Monteratregular';
  font-weight: 400;
  background-color: #8262b5;
  border: none;
  color: white;
  padding: 11.6px 18px;
  text-align: center;
  font-size: 14px;
}
.products {
  padding-bottom: 53px;
}
.products .header-products {
  padding-bottom: 25px;
}
.products .header-products .line {
  background-color: #8262b5;
  height: 1px;
  width: 50px;
}
.products .header-products .franco {
  letter-spacing: 5px;
  font-family: "Monterat";
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #b09cd0;
  line-height: 20px;
}
.products .header-products .featured-items {
  font-family: "Monterat";
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 22px;
  letter-spacing: 2.1px;
}
.products .row .product-item {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
.products .row .product-item .product-inner {
  padding: 23px 0;
}
.products .row .product-item .product-inner .image {
  position: relative;
}
.products .row .product-item .product-inner .image img {
  display: block;
  height: 100%;
  width: 100%;
}
.products .row .product-item .product-inner .image .btn-product {
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
  bottom: 5px;
  left: 5px;
  padding: 11.5px 18px;
  background-color: #ffffff;
  font-family: "Monteratregular";
  font-weight: 500;
  font-size: 12px;
  border: none;
  z-index: 20;
}
.products .row .product-item .product-inner .image .btn-product a:hover {
  color: #8262b5;
}
.products .row .product-item .product-inner .product-content .name-product {
  padding-top: 16px;
  font-family: 'Monteratregular';
  font-size: 14px;
  font-weight: 700;
}
.products .row .product-item .product-inner .product-content .stars {
  color: #f8ba04;
  padding: 13px 0 7px 0;
  font-size: 10px;
  width: 70px;
}
.products .row .product-item .product-inner .product-content .price {
  font-family: 'OpenSans';
  font-size: 16px;
}
.products .row .product-item .product-inner .product-content .price .price-item {
  color: #999;
  text-decoration: line-through;
}
.products .row .product-item .product-inner .product-content .price .discount {
  font-family: "OpenSansboil";
  font-size: 16px;
  color: #8262b5;
  text-decoration: none;
}
.slider {
  width: 100%;
}
.slider .slick-dots li {
  width: 50px;
  z-index: 10000;
}
.slider .slick-list .slick-track {
  display: flex;
  width: 100%;
}
.slider .slick-list .slick-track .slick-slide {
  width: 33.33%;
}
.blog {
  background-image: url('../images/backgroud_blog.jpg');
}
.blog .header-blog {
  padding: 73px 0 50px 0;
}
.blog .header-blog .line-blog {
  margin: 0 auto;
  background-color: #8262b5;
  height: 1px;
  width: 50px;
}
.blog .header-blog .latest {
  font-family: "Monterat";
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8262b5;
  line-height: 20px;
}
.blog .header-blog .news-events {
  font-family: "Monterat";
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2.5px;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.blog .row .blog-item {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}
.blog .row .blog-item .blog-inner .image {
  position: relative;
}
.blog .row .blog-item .blog-inner .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.blog .row .blog-item .blog-inner .image .date {
  position: absolute;
  top: 23px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #a1d1dd;
  box-sizing: border-box;
  padding: 5px;
}
.blog .row .blog-item .blog-inner .image .date .jan-23 {
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.blog .row .blog-item .blog-inner .image .date .jan-23 .jan {
  font-family: "Monteratregular";
  font-size: 14px;
}
.blog .row .blog-item .blog-inner .image .date .jan-23 .twothree {
  font-family: 'Monterat';
  font-size: 16px;
}
.blog .row .blog-item .blog-inner .blog-content {
  padding: 17px 0px;
}
.blog .row .blog-item .blog-inner .blog-content .blog-content-title {
  padding: 0px 18px 18px 20px;
  font-family: 'Monteratregular';
  font-size: 16px;
  font-weight: 700;
}
.blog .row .blog-item .blog-inner .blog-content .blog-content-write {
  font-family: 'OpenSans';
  padding: 0 18px 34.5px 18px;
  font-size: 14px;
  line-height: 22px;
  color: #424242;
  letter-spacing: 0.3px;
}
.blog .row .blog-item .blog-inner .blog-content .blog-icon {
  padding-left: 21px;
  color: #c8c8c8;
  font-size: 14px;
  display: flex;
}
.blog .row .blog-item .blog-inner .blog-content .blog-icon .icon-comment {
  padding-right: 17.5px;
}
.blog .row .blog-item .blog-inner .blog-content .blog-icon .icon-like {
  padding-left: 17.5px;
}
.blog .icon-next-blog {
  padding: 30px 0 65px 0;
  text-align: center;
}
.blog .icon-next-blog i {
  margin: 0 4px;
}
.blog .icon-next-blog .left {
  font-size: 10px;
  color: #b3a6c7;
}
.blog .icon-next-blog .center {
  font-size: 13px;
  color: #8262b5;
}
.blog .icon-next-blog .right {
  font-size: 10px;
  color: #b3a6c7;
}
.footer {
  background-color: #222222;
}
.footer .row .footer-inner {
  list-style: none;
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}
.footer .row .footer-inner .footer-title {
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 600;
  padding: 60px 0 48px 0;
  letter-spacing: 0.5px;
}
.footer .row .footer-inner .footer-content {
  font-family: 'OpenSans';
  padding-right: 100px;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
  color: #6d6d6d;
}
.footer .row .footer-inner .icon-footer {
  padding: 45px 0;
  font-size: 16px;
  color: #6d6d6d;
}
.footer .row .footer-inner .icon-footer i {
  padding-right: 28px;
}
.footer .row .footer-inner .nav-footer {
  display: flex;
}
.footer .row .footer-inner .nav-footer a {
  font-family: 'OpenSans';
  font-size: 14px;
  color: #6d6d6d;
}
.footer .row .footer-inner .nav-footer a:hover {
  color: #f7f7f7;
  text-decoration-line: underline ;
  text-decoration-color: #f7f7f7;
}
.footer .row .footer-inner .nav-footer .nav-footer-one {
  line-height: 30px;
  width: 50%;
}
.footer .row .footer-inner .nav-footer .nav-footer-two {
  line-height: 30px;
  width: 50%;
}
.footer .row .footer-inner .contact-footer {
  line-height: 34px;
  padding-left: 68px;
  letter-spacing: 0.2px;
}
.footer .row .footer-inner .contact-footer a {
  font-family: 'OpenSans';
  font-size: 14px;
  color: #6d6d6d;
}
.footer .row .footer-inner .contact-footer span {
  padding-right: 14px;
}
.footer .bottom-footer {
  height: 68px;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #6d6d6d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer .bottom-footer .copyright .fa-heart {
  color: red;
}
.footer .bottom-footer .icon-card {
  font-size: 22px;
  padding-right: 2px;
}
/*# sourceMappingURL=style.css.map */