@media screen and (max-width: 1270px){
    .menu-bar {
        .container-fluid {
            .menu-inner { 
                .logo {
                    .nav-icon {
                        display: block;
                        padding: 0 10px;
                        font-size: 30px;
                    }
                }        
                nav {
                    display: none;
                    .navbar{
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 199;
                        background-color: #a6bde6;
                        max-width: 230px;
                        width: 70vw;
                        height: 100vh;
                        .nav-items{
                            a:hover {
                                color: #8262b5;
                            }
                            padding: 15px 0;
                            display: block;
                            border-bottom: 2px solid #8262b5;
                        }
                    }
                }
            }        
        }
    }
    .banner {
        .row{
            .banner-left {
                .btn-banner01 {
                    top: 67%;
                    padding: 9px 14.35px;
                }  
            }
            .banner-right {
                .banner-right-bottom {
                    .btn-banner03 {
                        padding: 9px 14.35px;
                    }
                }
            }
        }
    }
}
    
@media all and (max-width: 1024px) {
   .banner {
        .row{
            .banner-left {
                .text-banner01 {
                    font-size: 20px;
                }  
            }
            .banner-right {
                .banner-right-top {
                    .banner-right-top-content{
                        .banner-right-top-content-tittle{
                            font-size: 12px;
                        }
                        .banner-right-top-content-sumary {
                            font-size: 16px;
                        }
                    }
                }
                .banner-right-bottom {
                    .banner-right-bottom-content {
                        .banner-right-bottom-content-tittle {
                            font-size: 12px;
                        }
                        .banner-right-bottom-content-sumary {
                             font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .header{
        .container-fluid{
            .header-inner {
                display: block;
                .header-left {
                    justify-content: space-between;
                }
            }
        }
    }
    .footer {
        .container {
            .row {
                .footer-inner {
                    width: 100% !important;
                    padding: 0 15px;
                    box-sizing: border-box;
                    .footer-title {
                        padding: 30px 0;
                    }
                    .icon-footer {
                        padding: 50px 0 0 0;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 777px) {
    .blog {
        .container{
            .row {
                .blog-item {
                    .cols (100%);
                }
            }
        }   
    }
}

@media all and (max-width: 600px) {
    .menu-bar {
        .container-fluid {
            padding: 0 15px 0 0;
            .menu-inner {
                .icon-right {
                    padding-top: 10px;
                }
            }
        }
    }
    .banner {
        .row{
            .banner-left {
                width: 100%;
                padding-bottom: 15px ;
                .btn-banner01 {
                    left: 50%;
                    top: 70%;
                }
                .text-banner01 {
                    left: 35%;
                }  
            }
            .banner-right {
                padding-top: 15px ;
                width: 100%;
                
            }
        }
    }
    .products {
        .container{
            .row {
                .product-item {
                    .cols(50%);
                }
            }
        }
    }
}